.container-fluid{
    margin: 50px;
}
#t1{
    height:50px;
    background-color:black;
    color:white;
    padding-top:10px;
}
.address{
    margin-top: 50px;
}
.center{
    width: 150px;
    margin: 40px auto;      
    }    
#t2 {    
    padding-left: 50px;
    border: outset 1px;
    border-radius:8px;
    height:320px;
}
#t3 {
    border: dashed 1px;   
    padding: 30px 50px 30px 50px;  
}
#t4 {
    border: outset 1px;
    border-radius: 8px;
    height: 200px;
    padding: 30px;
}
#t5 {
    border-radius: 8px;
    border: outset 1px;
    height: 70px;
    padding:20px;    
}
#t6 {
    border:outset 1px;
   padding:30px;
    border-radius:8px;
    height: 300px;
}
#t7{
    border:outset 1px;
    border-radius:8px;
    padding:30px;
}
.number-input{
    border:1px outset ;
    border-radius: 12px;
    width:110px;
    margin-left:120px;   
}
.quantity{
    width:34px;
    text-align:center;
    border: white;
}
.minus{
    margin:5px;
    border: none;
    background-color: white;
}
.plus{
    color: blue;
    margin:5px;
    border: none;
    background-color: white;
}
.Panel-group{
    width: 500px;
    margin: 0 auto;
}
#btn{
    width: 100px;    
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height:40px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    height:50px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    height:50px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 24px  100px;   
    border-top: none;
  }
  .ak{
      margin: 0 auto;
      border: outset 1px;
      height: 500px;
  }
  
  .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }
    #cname,#ccnum,#expmonth,#expyear,#cvv{
        padding: 10px;
        margin: 5px;
    }
    .col-md-12{
        margin: 35px;
    }
  .btn{
      margin-left: 300px;
  }
